<div class="container" align="center">
	***Site temporarily down. I apologize to my investors.
	<div class="signin-outer">
  	<%= render "layouts/errors" %>
		<h1 class="logo-text">Sign In</h1>
	  <form action="<%= session_url %>" method="post">
	    <%= auth_token_input %>
	    <span class="form-labels">Username:</span>
				<br>
	      <input type="text" name="user[username]">
				<br>
	      <span class="form-labels">Password:</span>
				<br>
	      <input type="password" name="user[password]">
	    	<br><br>
	    <input type="submit" class="btn" value="Login">
	    <a href="<%= new_user_url %>">Sign up?</a>
	  </form>
	<br>
		<form action="<%= session_url%>" method="post">
			<%=auth_token_input %>
			<input type="hidden" name="user[username]" value="steve">
			<input type="hidden" name="user[password]" value="password">
			<input type="submit" class="btn btn-primary custom-button"value="Guest Login!">
		</form>
	</div>
</div>

