<div class="container" align="center">
		<div class="signin">
	  	<%= render "layouts/errors" %>

				<h1>Dodat</h1>
				<h2>Sign In</h2>

		  <form action="<%= session_url %>" method="post">
		    <%= auth_token_input %>
		    <label>
		      <font color="#428bca">Username</font><br>
		      <input type="text" name="user[username]">
		    </label>
		    <br>
		    <label>
		      <font color="#428bca">Password</font><br>
		      <input type="password" name="user[password]">
		    </label>
		    <br>
		    <input type="submit" class="btn btn-primary" value="Login">
		    <a href="<%= new_user_url %>">New to Dodat?</a>
		  </form>
		</div>
		<br>
		
		<div class="guestlogin">
			<form action="<%= session_url%>" method="post">
				<%=auth_token_input %>
				<input type="hidden" name="user[username]" value="steve">
				<input type="hidden" name="user[password]" value="password">
				<input type="submit" class="btn btn-primary" value="Guest Login!">
			</form>
		</div>
</div>

