<!DOCTYPE html>
<html>
	<head>
	  <title>Dodat</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application"%>
	  <%= csrf_meta_tags %>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body> 
		<div class="header" id="header">
			
			<% if logged_in? %>
			<div class="header__boards-menu">
				<i class="upside-down fa fa-bar-chart-o"></i>
					<a href="#" class="header_board_text">Boards</a>
			</div>
			<% end %>
			
			<% if logged_in? %>
			<div class="header__brand">
				<h4 class="header__brand__text">
					<a href="#">DODAT</a>
				</h4>
			</div>
			<% end %>
			
			<% if !logged_in? %>
			<div class="header__brand">
				<h4 class="header__brand__text">
					<div class="header-intro-text">Welcome to DODAT!</div>
				</h4>
			</div>
			<% end %>
			
			<% if logged_in? %>
			<div class="header__section__right">
				<div class="header_section_right_account_menu">
					<% if username == "Steve" %>
						<span class="header_guest_name">
							Guest
						</span>
					<% else %>
					<span class="header_guest_name">
						<%= username %>
					</span>
					<% end %>
					<img class="account_avatar" src="http://www.gravatar.com/avatar/fbbd6b5524c2e0ee1bb0719a626d8330?s=64">
				</div>
				
			</div>
			<% end %>
				
		</div>
		
	<%= yield %>
	<% if logged_in? %>
	<%= button_to "Log out", session_url, { method: :delete, class: "btn btn-xs btn-warning" } %>
	<% end %>
	</body>
</html>
